################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/API/obj/Debug/net8.0/API.sourcelink.json
/Project/API/obj/Debug
/Project/API/bin/Debug