<div class="container-fluid mt-4">
    <div class="wrapper">
      <div class="d-flex justify-content-between">
        <h2 class="mt-4 culoare mr-auto mb-4">All Projects</h2>
        <button class="btn custom-btn mb-4" style="margin-top: 1em;" (click)="openCreateProjectDialog()">Create New Project</button>
      </div>

      <div class="row">
        <div *ngFor="let project of projects" class="col-md-4 mb-4">
          <div class="card" clickable (click)="navigateToProjectDetail(project.id)">
            <div class="card-body">
              <h4 class="card-title">{{ project.title }}</h4>
              <p class="card-text">{{ project.description }}</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  