:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
router-outlet {
  flex: 1;
}

.culoare{
  color: #161A30
}
  
.imgheader {
  height: 25em;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #ffffff;
  padding: 20px; 
  text-align: center;
}

.footer-text {
  color: #161A30; 
}

.clickable{
  cursor: pointer;
}