<div>
  <h2>Dashboard</h2>

  <h4>Projects</h4>
  <div class="project-list">
    <div *ngFor="let project of projects" class="project-card" (click)="navigateToProjectDetail(project.id)">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
    </div>
  </div>

  <h4>Tasks</h4>
  <div class="task-list">
    <div class="task-card task-header">
      <div class="task-rectangle">Task Title</div>
      <div class="task-rectangle">Task Description</div>
      <div class="task-rectangle">Assigned To</div>
    </div>

    <div *ngFor="let project of projects">
      <div *ngFor="let task of project.tasks" class="task-card" (click)="openTaskPopup(task)">
        <div class="task-rectangle">
          <p>{{ task.title }}</p>
        </div>
        <div class="task-rectangle">
          <p>{{ task.description }}</p>
        </div>
        <div class="task-rectangle">
          <p>{{ task.assignTo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
