<div class="container-fluid mt-4" *ngIf="project">
  <div>
    <h2>Project Detail</h2>
    <p>Project ID: {{ project.id }}</p>
    <p>Title: {{ project.title }}</p>
    <p>Description: {{ project.description }}</p>
  </div>

  <div class="row">
    <div *ngFor="let column of taskColumns" class="col-md-4">
      <div class="card columns" cdkDropList [id]="column.name" [cdkDropListConnectedTo]="connectedLists(column.name)" cdkDropListOrientation="vertical" [cdkDropListData]="column.tasks" (cdkDropListDropped)="onTaskMoved($event)">
        <h3 class="card-title">{{ column.name | titlecase }}</h3>
        <div *ngFor="let task of column.tasks" cdkDrag [cdkDragData]="task" class="card-body" (click)="openEditTaskDialog(task)">
          <p class="card-text">{{ task.title }}</p>
          <p class="card-text">{{ task.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Create Task</h2>
    <button class="btn btn-primary" (click)="openCreateTaskDialog()">Create Task</button>
  </div>
</div>
